__pycache__
.ipynb_checkpoints
.idea/*
.vscode/*
.cache/
experiments/data/*
experiments/results/*
experiments/models/*/
!experiments/models/create_dataset_info.ipynb
!experiments/models/train_ae_model.py
!experiments/models/train_if_model.py
!experiments/models/train_lof_model.py
!experiments/models/train_classification_model.py
!experiments/models/utils.py
.conda_envs/
.conda_pkgs/
.pip_cache/
.tmp/
env_backups/
experiments/models/models.zip
lightning_logs/
*.ckpt
